{% extends 'layout.htm' %}

{% block content %}
    <h1> All posts - Page {{ page }}</h1>
    <ul>
        {% for post in posts %}
            <li><a href="/post/{{post.PostID}}">{{ post.edited }} :: {{ post.title }} - {{post.author}}</li>
        {% endfor %}
    </ul>
    {% for i in range(1, pageCount) %}
        <a href="/post/overview/{{ i }}">
        {% if i == page %}
            <b>{{ i }}</b>
        {% else %}
            {{ i }}
        {% endif %}
        </a>
        &nbsp;
    {% endfor %}
{% endblock %}